<html>
<head>
  <title>Editing <%= filename %>.md</title>
</head><body>
<p>Editing <%= filename %>
<form name="input" action="/<%= filename %>/edit" method="POST"> 
<p><textarea name="content" rows="24" cols="80"><%= content %></textarea>
<p><input type="submit" value="Submit">
</form>
</body>




