<html>
<head>
  <title>Editing <%= filename %>.md</title>
</head><body>
<p>Editing <%= filename %>

<p><form name="input" action="/<%= filename %>/edit" method="POST"> 


<input type="submit" value="Submit">
</form>
</body>




